::-moz-color-swatch {
	border: none !important;
}

#gradienT * {
	box-sizing: border-box;
}

#gradienT {
	position: fixed;
	right: 0;
	top: 0;

	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 100vh;
	padding-bottom: 10px;
	width: 300px;

	border: 3px solid hsl(140 50% 40%);
	overflow-y: scroll;
}

#gradienT > div {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: auto;
	padding: 10px;
	width: 100%;

	border: none;
}

#gradienT h4 {
	margin: 5px 0 0 0;

	font-size: 18px;
	text-align: center;
}

#gradienT button {
	background: #fff;
	border: 2px solid hsl(0 0% 85%);
	border-radius: 5px;
	cursor: pointer;
	transition: color .3s, background .3s;
}

#gradienT #add-color,
#gradienT #add-gradient  {
	padding: 10px 20px;

	
	font-size: 18px;
	text-align: center;
	text-transform: capitalize;
}
#gradienT #add-color:hover,
#gradienT #add-gradient:hover {
	background: hsl(140 50% 40%);
	color: #fff;
}

#gradienT select {
	padding: 5px 10px;

	border: 2px solid hsl(0 0% 85%);
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
}

#gradienT form {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

#gradienT #color-block {
	height: auto;
	width: auto;

	border: none;
}

#gradienT #remove-color {
	flex: 1;

	color: hsl(0 50% 50%);
	font-size: 20px;
	font-weight: bold;
}
#gradienT #remove-color:hover {
	background: hsl(0 50% 50%);
	color: #fff;
}

#gradienT input[type="text"] {
	padding: 5px 10px;
	width: 100%;

	border: 2px solid hsl(0 0% 85%);
	border-radius: 5px;
	font-size: 18px;
	text-align: center;
}

#gradienT input[type="number"] {
	flex: 2;
	padding: 5px 10px;
	width: 100%;

	border: 2px solid hsl(0 0% 85%);
	border-radius: 5px;
	font-size: 18px;
	text-align: center;
}

#gradienT input[type="color"] {
	flex: 5;
	height: auto;
	padding: 0;

	border: 2px solid hsl(0 0% 85%);
	border-radius: 5px;
	cursor: pointer;
}

#gradienT input[type="range"] {
	margin-bottom: 15px;
	margin-top: 10px;
	min-width: 100%;
}

#gradienT input[type="range"]::-moz-range-track {
	height: 16px;

	background: hsl(0 0% 85%);
	border-radius: 5px;
}

#gradienT input[type="range"]::-moz-range-thumb {
	height: 24px;
	width: 8px;

	background: hsl(140 50% 40%);
	cursor: pointer;
}

#gradienT input[type="number"] {
	appearance: textfield;
}
#gradienT input[type="number"]:hover,
#gradienT input[type="number"]:focus {
	appearance: number-input;
}

